<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="./tests/bootstrap.php"
         backupGlobals="false"
         processIsolation="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         strict="true"
         testSuiteLoaderClass="PHPUnit_Runner_StandardTestSuiteLoader">

    <testsuites>
        <testsuite>
            <directory>./tests/JSONSchema</directory>
        </testsuite>
    </testsuites>

    <logging>
        <log type="junit" target="build/artifacts/logs/junit.xml" logIncompleteSkipped="false" />
        <log type="coverage-html" target="report" charset="UTF-8" />
    </logging>

    <filter>
        <whitelist>
            <directory suffix=".php">./src/JSONSchema</directory>
            <exclude>
            </exclude>
        </whitelist>
    </filter>

</phpunit>
